@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.item1 {
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;
    position: relative;
    margin: 40px;


}

.item2 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 10px;
}

.item3 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    top: 200px;
    right: 200px;
    padding: 10px;

}

.item4 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    bottom: 200px;
    right: 200px;
    padding: 10px;

}

.item5 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    bottom: 200px;
    left: 200px;
    padding: 10px;

}